[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
importlib-metadata = "*"
typing-extensions = "*"
waitress = "*"
flask-cors = "*"
flask-jwt-extended = "*"
apscheduler = "*"
requests = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
pytest="*"

[requires]
python_version = "3.9"
